<h1>{{title|uppercase}}</h1>
<div class='myDiv'>
  <form #myForm="ngForm" (ngSubmit)="submit(myForm)">
    <table>
      <tr>
        <td>NAME</td>
        <td><input #name="ngModel" ngModel type="text" name="name" placeholder="Enter Name" required
            pattern="[a-zA-Z ]+$">
          <span style="color:red" *ngIf="name.invalid&&name.touched"> Please Enter a Valid Name</span>
        </td>
      </tr>
      <tr>
        <td>EMAIL</td>
        <td><input #email="ngModel" ngModel name="email" placeholder="Enter Email" required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
          <span style="color:red" *ngIf="email.invalid&&email.touched"> Please Enter a Valid Email</span>
        </td>
      </tr>
      <tr>
        <td>GENDER</td>
        <td>
          <div style="display: flex;align-items: center;">
            <label>MALE</label><input #male="ngModel" ngModel type="radio" name="gender" value="male" required="">
            <label>FEMALE</label><input #female="ngModel" ngModel type="radio" name="gender" value="female" required="">
            <label>OTHER</label><input #other="ngModel" ngModel type="radio" name="gender" value="other" required="">
          </div><span style="color:red" *ngIf="myForm.controls['gender'].touched && myForm.controls['gender'].invalid">
            Please choose one Gender</span>
        </td>
      </tr>
      <tr>
        <td>PASSWORD</td>
        <td><input #password="ngModel" ngModel type="password" name="password" placeholder="Enter Password" required
            minlength="8">
          <span style="color:red" *ngIf="password.invalid&&password.touched"> Please Enter a Valid password</span>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><button type="submit" [disabled]="myForm.invalid">SUBMIT</button></td>
      </tr>
    </table>
  </form>
</div>
<br>
<div class="myDiv" [class.visible]="isTrue">
  <table>
    <tr>
      <td>NAME</td>
      <td>{{name1}}</td>
    </tr>
    <tr>
      <td>EMAIL</td>
      <td>{{email1}}</td>
    </tr>
    <tr>
      <td>GENDER</td>
      <td>{{gender1}}</td>
    </tr>
  </table>
</div>
